<%- include('templates/header.ejs', { cssFiles: ['booked.css'] }) %>

<body>
    <main class="main">
        <div class="three">
            <h1 class="text-center text-black mt-5">Your Bookings</h1>
        </div>

        <div class="d-flex flex-row flex-wrap justify-content-center gap-4 mt-5">
          <% bookings.forEach(bookedCampsite => { %>
              <div class="card card-hover rounded-4 img-fluid" style="width: 300px; height: 420px; cursor: pointer;">
                <!-- <img class="card-img-top rounded-4" src="<%= favCampsite.imageUrl || '/PorteauCove.svg' %>" alt="Card image" style="width:100%; height: 200px; object-fit: cover;"> -->
                <div class="card-img-overlay p-3 d-flex flex-column justify-content-between">
                  <div>
                    <h4 class="card-title text-white mb-3"><%= campsite.name %></h4>
                    <ul class="list-group list-group-flush bg-white rounded rounded-3">
                      <li class="list-group-item d-flex align-items-center gap-2">
                        <span class="material-icons material-symbols-outlined">info</span>
                        <span><%= bookedCampsite.summary %></span>
                      </li>
                      <li class="list-group-item d-flex align-items-center gap-2">
                        <span class="material-icons material-symbols-outlined">terrain</span>
                        <span>Tent Spots: <%= bookedCampsite.tentSpots %></span>
                      </li>
                      <li class="list-group-item d-flex align-items-center gap-2">
                        <span class="material-icons material-symbols-outlined">trending_up</span>
                        <span>Dates: <%= bookedCampsite.startDate %> TO <%= bookedCampsite.endDate %></span>
                      </li>
                    </ul>
                  </div>

                  <div class="d-flex justify-content-center pt-3">
                    <a href="#" class="btn w-100 text-decoration-none text-dark text-center">
                      Cancel Booking
                    </a>            
                  </div>
                  
              
                </div>
              </div>
            </a>
          <% }) %>
        </div>

        <!-- Footer placeholder -->
        <%- include('templates/footer') %>
    </main>
</body>
