<%- include("templates/header", { cssFiles: ['/bookingAvailability.css'] }) %>

<div class="container m-5">
  <div class="card mx-auto" style="max-width: 500px; background-color: #D0DDD7; display: flex; flex-direction: column;">
    
    <div class="card-header text-center" style="background-color: #95BF74;">
      <h5 class="mb-0">📅 Create New Available Campsite</h5>
      <button type="button" class="btn-close" 
        onclick="window.location.href='/campsite-info/<%= campsiteId %>'" 
        style="position: absolute; right: 15px; top: 15px;">
      </button>
    </div>

    <form id="bookingForm" style="flex: 1; display: flex; flex-direction: column;">
      <div class="card-body" style="flex: 1; overflow-y: auto;">
        <img class="bookingAvatar p-2" src="/images/booking.png"/>

        <div class="mb-3">
          <label for="location" class="form-label"><b>Location:</b></label>
          <select id="location" name="campsiteId" class="form-select" required>
            <% campsites.forEach(function(camp) { %>
              <option value="<%= camp._id %>" <%= camp._id.toString() === campsiteId.toString() ? "selected" : "" %>>
                <%= camp.name %>
              </option>
            <% }) %>
          </select>
        </div>

        <div class="mb-3">
          <label for="startDate" class="form-label">Start Date:</label>
          <input type="date" id="startDate" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="endDate" class="form-label">End Date:</label>
          <input type="date" id="endDate" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="tentSpots" class="form-label">Number of Available Tent Spots:</label>
          <input type="number" id="tentSpots" class="form-control" min="1" required>
        </div>

        <div class="mb-3">
          <label for="summary" class="form-label">Summary:</label>
          <textarea rows="4" id="summary" class="form-control" placeholder="Enter additional details..."></textarea>
        </div>

        

        <!-- Hidden inputs -->
        <input type="hidden" id="campsiteId" value="<%= campsiteId %>">
        <input type="hidden" id="userId" value="<%= userId %>">
        <input type="hidden" id="firstName" value="<%= firstName %>">

      </div>

      <div class="p-3 mt-3 d-grid gap-2 d-md-flex justify-content-md-between">
        <a href="/campsite-info/<%= campsiteId %>" class="btn" style="background-color: #95BF74; color: black;">Cancel</a>
        <button type="submit" class="btn" style="background-color: #95BF74; color: black;">Submit</button>
      </div>
    </form>
  </div>
  <div class="wave-background-bottom">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M0.00,49.98 C254.51,72.06 306.43,22.41 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"></path>
    </svg>
  </div>
</div>


<script src="/js/createBooking.js"></script>

<%- include("templates/footer") %>
