<%- include('templates/header.ejs', { cssFiles: ['booked.css'] }) %>



<main class="main">
  <div class="three">
    <h1 class="text-center text-black mt-2">Favorites</h1>
    <p class="text-center text-white">Your favorite campsites</p>
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-center gap-4 mt-4">
    <div class="card card-hover rounded-4 img-fluid" style="width:300px; height:500px">
      <img class="card-img-top rounded-4" src="<%= favCampsites.imageUrl || '/PorteauCove.svg' %>" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <h4 class="card-title text-white mt-3 mb-4"><%= favCampsites.name %></h4>
        <ul class="list-group list-group-flush bg-white rounded rounded-3">
          <li class="list-group-item">
            <span class="material-icons material-symbols-outlined">info</span>
            <%= favCampsites.bio %>
          </li>
          <li class="list-group-item">
            <span class="material-icons material-symbols-outlined">star</span>
            Rating: 4.5 / 5
          </li>
        </ul>
        <div class="d-flex justify-content-center p-3">
          <a href="/campsite-example" id="details1" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>

    <div class="card card-hover rounded-4 img-fluid" style="width:300px; height:500px">
      <img class="card-img-top rounded-4" src="<%= favCampsites.imageUrl || '/PorteauCove.svg' %>" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <h4 class="card-title text-white mt-3 mb-4"><%= favCampsites.name %></h4>
        <ul class="list-group list-group-flush bg-white rounded rounded-3">
          <li class="list-group-item">
            <span class="material-icons material-symbols-outlined">info</span>
            <%= favCampsites.bio %>
          </li>
          <li class="list-group-item">
            <span class="material-icons material-symbols-outlined">star</span>
            Rating: 4.5 / 5
          </li>
        </ul>
        <div class="d-flex justify-content-center p-3">
          <a href="/campsite-example" id="details2" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  </div>
</main>



<%- include('templates/footer') %>