<%- include('templates/header.ejs', { cssFiles: ['favourites.css'] }) %>

<main class="main">
  <div class="three mb-5">
    <h1>Favourites</h1>
  </div>

<div class="d-flex flex-row flex-wrap justify-content-center gap-4 mt-5">
  <img class="favouriteAvatar" src="/images/favourites.png">

  
  <% campsites.forEach(favCampsite => { %>
      <div class="card card-hover rounded-4 img-fluid" style="width: 300px; height: 420px; cursor: pointer;">
        <img class="card-img-top rounded-4" src="<%= favCampsite.imageUrl || '/PorteauCove.svg' %>" alt="Card image" style="width:100%; height: 200px; object-fit: cover;">
        <div class="card-img-overlay p-3 d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title text-white mb-3"><%= favCampsite.name %></h4>
            <ul class="list-group list-group-flush bg-white rounded rounded-3">
              <li class="list-group-item d-flex align-items-center gap-2">
                <span class="material-icons material-symbols-outlined">info</span>
                <span><%= favCampsite.description %></span>
              </li>
              <li class="list-group-item d-flex align-items-center gap-2">
                <span class="material-icons material-symbols-outlined">star</span>
                <span>Rating: <%= favCampsite.rating %> / 5</span>
              </li>
              <li class="list-group-item d-flex align-items-center gap-2">
                <span class="material-icons material-symbols-outlined">terrain</span>
                <span>Type: <%= favCampsite.type %></span>
              </li>
              <li class="list-group-item d-flex align-items-center gap-2">
                <span class="material-icons material-symbols-outlined">trending_up</span>
                <span>Difficulty: <%= favCampsite.difficulty %></span>
              </li>
            </ul>
          </div>

          <div class="d-flex justify-content-center pt-3">
            <a href="/campsite-Info/<%= favCampsite._id %>" class="btn w-100 text-decoration-none text-dark text-center">
              View Details
            </a>            
          </div>
          <i class="fas fa-heart heart-icon heart"
          style="font-size: 2rem; color: #8212b6; cursor: pointer;"
          data-campsite-id="<%= favCampsite._id %>"></i>
        </div>
      </div>
    </a>
  <% }) %>
</div>
  <%- include("templates/bg") %>
  <script src="/js/createReview.js"></script>
  
</main>
<%- include('templates/footer') %>